# .gitignore

# 1. ไม่เอาไฟล์ขยะ Python (ตัวต้นเหตุปัญหา)
__pycache__/
*.py[cod]
*$py.class

# 2. ไม่เอา Database (เพราะเราใช้คนละตัวกับ Server)
db.sqlite3

# 3. ไม่เอารูปที่อัปโหลด
media/

# 4. อื่นๆ
.env
myenv/
venv/